#header-zumbi{
	margin: 0%;
	color: #262526;
	background: rgba(175,175,175,0.8);
	padding: 1px 10px;
	text-align: center;
}


.titulos-zumbi{
	margin: 0;
	font-family: 'New Tegomin', serif;
	text-align: center;
	letter-spacing: 2px;
}

.div-imagem{
	backdrop-filter: blur(3px);
}

#artc-zumbi{
	margin: 0%;
	background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUohxXzv1lfJWe5mHHsOU3bsAe-hm0_sc8-g&usqp=CAU');
	background-size: cover;
	background-attachment: fixed;
}

.bg-transparencia{
	padding: 1% 5%;
	margin: 1% 5%;
	background: rgba(175,175,175,0.8);
}

.img-section{
	width: 100%;
	display: block;
	margin: 0 auto;
}

.subtitulo{
	text-align: center;
}

.flex-box, .flex-box-reverse{
	padding: 15px 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.flex-box{
	flex-direction: row;
}

.flex-box-reverse
{
	flex-direction: row-reverse;
}

.flex-item{
	width: 500px;

}
