body{
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 0.2px;
	color: #262526;
	background: linear-gradient(207deg, rgba(223,222,222,1) 0%, rgba(234,230,200,1) 100%);
}


.div-menu{
	background-color: #262526;
	margin:0;
	padding: 10px;
	text-align: right;
}

.div-menu i{
	margin: 4px;
}

.div-menu ul{
	list-style-type: none;
}

.div-menu li{
	display: inline;
}

.div-menu a{
	text-decoration: none;
	color: 	#D9A60D;
	padding: 0 15px;
}

.div-menu li:hover{
	font-size: 1.1em;
	transition: 1s;
}


.titulos{
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.6em;
}


.texto-marcado {
    background-color: #fdd;
}

.texto-italico {
    font-style: italic;
}

.texto-sombreado{
	
	text-shadow: 1px 1px #ddd;
}

.texto-sublinhado {
    text-decoration: underline;
}

.texto-riscado{
	text-decoration: line-through;
}

.texto-negrito {
    font-weight: 750;
}



