:root {

	--color-dark: #262526;
	--color-dark-gray: #403E40;
	--color-light-gray: #DFDEDE;
	--color-yellow: #D9A60D;
	--color-light: #F2F2F2;
	--gradient-light: linear-gradient(207deg, rgba(223,222,222,1) 0%, rgba(234,230,200,1) 100%);
	--gradient-dark: linear-gradient(210deg, rgba(64,62,64,1) 0%, rgba(38,37,38,1) 100%); 
}

html, body{

	color: var(--color-dark);
	letter-spacing: 0.2px;
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	background: var(--gradient-light);
	
}

.div-menu{
	background-color: var(--color-dark);
	margin:0;
	padding: 10px;
	text-align: right;
}

.icone-menu{
	margin: 4px;
}

.ul-menu{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	list-style-type: none;
}

.li-menu{

}

.link-menu{
	text-decoration: none;
	color: var(--color-yellow);
	padding: 0 15px;
}

.li-menu:hover{
	transform: rotateX(360deg);
	transition: 1s;
}

.titulos{
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.6em;
}

.tbl{
	width: 100%;
	border-collapse: collapse;

}

.td-tbl{
	background-color: var(--color-light-gray);
	border: thin solid var(--color-light);
	padding: 1% ;
}

.td-tbl:hover{
	background-color: var(--color-dark);
	color: var(--color-light-gray);
	transition: all 1s;
}

.th-principal{
	background-color: var(--color-dark);
	border: thin solid var(--color-light);
	color: var(--color-light);
}


.th-secundario{
	background-color: var(--color-dark-gray);
	color: var(--color-light);
	border: thin solid var(--color-light);
}

.link-td{
	color: var(--color-dark);
	text-decoration: none;
}

.frm{
    color: var(--color-light-gray);
    padding: 3%;
    background: var(--gradient-dark);
    border-radius: 6px;
}

.fldst{
	margin-top: 10px; 
}

.inp{
    border: none;
    padding: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
    width: 85%;
    background-color: var(--color-dark-gray);
    color: var(--color-light-gray);
}

.inp:focus{
	outline: none;
}

.btn{
	margin: 10px;
	background-color: var(--color-dark-gray);
	color: var(--color-light-gray);
	border: none;
    padding: 15px 35px;
    border-radius: 100px;
}

.btn:hover{
	cursor: pointer ;
	background-color: var(--color-yellow);
    color: var(--color-dark-gray);
	transition: all 1s;
}

.btn:focus{
    outline: none;
}
