#header-zumbi{
	margin: 0%;
	color: #262526;
	background: rgba(175,175,175,0.8);
}


.titulos-zumbi{
	margin: 0;
	font-family: 'New Tegomin', serif;
	text-align: center;
	letter-spacing: 2px;
}

.div-imagem{
	backdrop-filter: blur(3px);
}

#artc-zumbi{
	margin: 0%;
	background:url('https://st4.depositphotos.com/17069610/20742/v/600/depositphotos_207422048-stock-video-collection-landscape-halloween-zombie-animation.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.bg-transparencia{
	padding: 1% 5%;
	margin: 1% 5%;
	background: rgba(175,175,175,0.8);
}

.img-section{
	width: 50%;
	display: block;
	margin: 0 auto;
}

.subtitulo{
	text-align: center;
}